body
{
  background-color: #cccccc;
}

#CodePortfolio
{
  padding: 60px;
  height: 100px;
  background-color: #e6e6e6;
  text-align: center;
  font-family: helvetica, san-serif;
  font-color: #404040;
  font-size: 50px;
  font-weight: bold;
}

#Test
 {
    margin: 50px;
    padding: 50px;
    width: 150px;
    height: 150px;
    background-color: #e6e6e6;
    font-family: helvetica, san-serif;
    font-color: #404040;
    font-size: 20px;
    border-style: solid;
    border-color: #404040;
    border-size: 2px;
}

#Test:hover
{
  background-color: #404040;
  font-color: #e6e6e6;
}
/* unvisited link */
#Test a:link {
    color: red;
}

/* visited link */
#Test a:visited {
    color: green;
}

/* mouse over link */
#Test a:hover {
    color: hotpink;
}

/* selected link */
#Test a:active {
    color: blue;
}

h1
  {
    text-align: center;
    font-family: helvetica, san-serif;
}

#GameDevelopment
{
    font-family: helvetica, san-serif;
    font-color: red;
    border-radius: 50%;
}
  
