body
{
  background-color: #cccccc;
}

#CodePortfolio
{
  padding: 80px;
  height: 300px;
  color: white;
  font-family: helvetica, san-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  background-image: url("/images/CodePortfolioHeader3.png");
  background-repeat: no-repeat;
  /*background-color: #e6e6e6;*/
}

#Test
 {
    margin: 50px;
    padding: 50px;
    width: 150px;
    height: 150px;
    background-color: #e6e6e6;
    font-family: helvetica, san-serif;
    font-color: #404040;
    font-size: 25px;
    font-weight: bold;
    font-height: 20px;
    border-style: solid;
    border-color: #404040;
    border-size: 2px;
}

#Test:hover
{
  background-color: #404040;
  font-color: white;
  text-decoration: none;
}
/* unvisited link */
#Test a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
#Test a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
#Test a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
#Test a:active {
    color: green;
    text-decoration: none;
}

h1
  {
    text-align: center;
    font-family: helvetica, san-serif;
}

#GameDevelopment
{
    font-family: helvetica, san-serif;
    font-color: red;
    border-radius: 50%;
}
  
