body
{
  background-color: #cccccc;
}

#CodePortfolio
{
  height: 200px;
  background-color: #404040;
}

#Test
 {
    padding: 300px;
    width: 150px;
    height: 150px;
    background-color: #e6e6e6;
    font-family: helvetica, san-serif;
    font-color: #404040;
}

#Test:hover
{
    background-color: #404040;
  font-color: #e6e6e6;
}

h1
  {
    text-align: center;
    font-family: helvetica, san-serif;
    font-color: #e6e6e6;
}

#GameDevelopment
{
    font-family: helvetica, san-serif;
    font-color: red;
    border-radius: 50%;
}
  
